<!DOCTYPE html>
<html>
  <head>
    <title>Aにmezon.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Aにmezon.com">
    <meta property="og:description" content="amazon clone app academy marketplace shopping cart japanese anime">
    <meta property="og:image" content="<%= image_url("amezon_search.gif") %>">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag image_url("animezon_favicon.png") %>

    <script>
      window.logoWhite = "<%= image_url("animezon_logo_white_bold.svg") %>"
      window.logoBlack = "<%= image_url("animezon_logo_bold.svg") %>"
      window.cart = "<%= image_url("cart_white.svg") %>"
      window.cartJP = "<%= image_url("cart_jp_white.svg") %>"
      window.globe = "<%= image_url("White_Globe_Icon.png") %>"
      window.magnifyingGlass = "<%= image_url("search_icon.svg") %>"
      window.hamburgerMenu = "<%= image_url("hamburger-icon-white.svg") %>"
      window.hazard = "<%= image_url("hazard.svg") %>"
      window.starClicked = "<%= image_url("clicked_star.svg") %>"
      window.starUnclicked = "<%= image_url("unclicked_star.svg") %>"
      window.clickedRB = "<%= image_url("clicked_radio_button.png") %>"
      window.uncheckedRB = "<%= image_url("unchecked_radio_button.png") %>"
      window.addToCart = "<%= image_url("add_to_cart.png") %>"
      window.buyNow = "<%= image_url("buy_now.png") %>"
      window.ellipsis = "<%= image_url("ellipsis.png") %>"
      window.uncheckedCB = "<%= image_url("unchecked_checkbox.png") %>"
      window.checkedCB = "<%= image_url("checked_checkbox.png") %>"
      window.animePH = "<%= image_url("anime-dancing-gif-png-2.gif") %>"
      window.animePHC = "<%= image_url("collage.jpg") %>"
      window.profilePic = "<%= image_url("default_profile_pic.jpg") %>"
      window.greenCheck = "<%= image_url("green_check.png") %>"
      window.starBar = "<%= image_url("star_bar.png") %>"
    </script>

    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:700&display=swap" rel="stylesheet">

    <% if current_user%>
      <script>
          window.currentUser = {
            id:<%= current_user.id %>,
            username:"<%= current_user.username %>",
            email:"<%= current_user.email %>",
            cartId:<%= current_user.cart.id %>
          };
      </script>
    <% end%>  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
